.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  width: 100%;
}
.header__center{
  display: flex;
  flex: 1;
  align-items: center;
  max-width: fit-content;
}
.header__right{
  display: flex;
  align-items: center;
}